<html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body><table width="100%" cellspacing="0" cellpadding="0" border="0">
  <tbody>
  <tr>
    <td align="center" style="background-color:#dbe5ea;padding-left:8px;padding-right:8px;padding-top:32px">

      <table width="100%" cellspacing="0" cellpadding="0" border="0" style="max-width:800px;margin:0 auto">
        <tbody>
        <tr>
          <td align="center" style="font-size:0;vertical-align:top;background-color:#ffffff;border-radius:4px 4px 0px 0px;padding-left:16px;padding-right:16px;padding-bottom:24px">

            <div style="display:inline-block;vertical-align:top;width:100%;max-width:200px">
              <div style="font-size:24px;line-height:24px;height:24px">&nbsp;</div>
              <div style="font-family:Helvetica,Arial,sans-serif;margin-top:0px;margin-bottom:0px;font-size:16px;line-height:24px;text-align:left;padding-left:8px;padding-right:8px">
                <p style="margin-top:0px;margin-bottom:0px"><a href="https://example.com/" style="text-decoration:none;outline:none;color:#126de5" target="_blank">
                </a></p>
              </div>
            </div>

            <div style="display:inline-block;vertical-align:top;width:100%;max-width:400px">
              <div style="font-size:22px;line-height:22px;height:22px">&nbsp;</div>
              <div style="padding-left:8px;padding-right:8px">
                <table cellspacing="0" cellpadding="0" border="0" style="text-align:right;margin-left:auto;margin-right:0">
                  <tbody>
                  <tr>
                    <td align="center" style="font-family:Helvetica,Arial,sans-serif;font-weight:bold;margin-top:0px;margin-bottom:0px;font-size:14px;line-height:21px">
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </td>
        </tr>
        </tbody>
      </table>

    </td>
  </tr>
  </tbody>
</table>
<div>
  <table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
    <tr>
      <td align="center" style="background-color:#dbe5ea;padding-left:8px;padding-right:8px">

        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="max-width:800px;margin:0 auto">
          <tbody>
          <tr>
            <td align="center" style="background-color:#ebf5fa;padding-left:24px;padding-right:24px;padding-top:64px;padding-bottom:64px">

              <div style="font-family:Helvetica,Arial,sans-serif;margin-top:0px;margin-bottom:0px;font-size:19px;line-height:28px;max-width:584px;color:#82899a;text-align:center">
                <table cellspacing="0" cellpadding="0" border="0" style="text-align:center;margin-left:auto;margin-right:auto">
                  <tbody>
                  <tr>
                    <td height="40" width="32" style="border-bottom:1px solid #126de5">&nbsp;
                    </td>
                    <td rowspan="2" align="center" style="font-family:Helvetica,Arial,sans-serif;margin-top:0px;margin-bottom:0px;font-size:16px;line-height:24px;color:#424651;padding-left:16px;padding-right:16px;padding-top:16px;padding-bottom:16px">
                      <img src="http://www.stampready.net/dashboard/editor/user_uploads/zip_uploads/2018/11/19/4C5mLfZOJRvwGk3sn12WPFod/account_password_reset/images/vpn_key-48-primary.png" width="48" height="48" alt="" style="max-width:48px;vertical-align:middle;border:0;line-height:100%;height:auto;outline:none;text-decoration:none">
                    </td>
                    <td height="40" width="32" style="border-bottom:1px solid #126de5">&nbsp;
                    </td>
                  </tr>
                  <tr>
                    <td height="40">&nbsp;</td>
                    <td height="40">&nbsp;</td>
                  </tr>
                  <tr>
                    <td style="font-size:8px;line-height:8px;height:8px">&nbsp;</td>
                    <td style="font-size:8px;line-height:8px;height:8px">&nbsp;</td>
                  </tr>
                  </tbody>
                </table>
                <% if I18n.locale.to_s == 'ka' %>
                  <h2 style="font-family:Helvetica,Arial,sans-serif;font-weight:bold;margin-top:0px;margin-bottom:4px;color:#242b3d;font-size:30px;line-height:39px"> <%= @greeting %>
                    დაგავიწყდა პაროლი?</h2>
                <% else %>
                  <h2 style="font-family:Helvetica,Arial,sans-serif;font-weight:bold;margin-top:0px;margin-bottom:4px;color:#242b3d;font-size:30px;line-height:39px"> <%= @greeting %>
                    Forgot your password?</h2>
                <% end %>
              </div>

            </td>
          </tr>
          </tbody>
        </table>

      </td>
    </tr>
    </tbody>
  </table>
</div>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
  <tbody>
  <tr>
    <td align="center" style="background-color:#dbe5ea;padding-left:8px;padding-right:8px">

      <table width="100%" cellspacing="0" cellpadding="0" border="0" style="max-width:800px;margin:0 auto">
        <tbody>
        <tr>
          <td style="font-size:24px;line-height:24px;height:24px;background-color:#ffffff">&nbsp;
          </td>
        </tr>
        </tbody>
      </table>

    </td>
  </tr>
  </tbody>
</table>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
  <tbody>
  <tr>
    <td align="center" style="background-color:#dbe5ea;padding-left:8px;padding-right:8px">

      <table width="100%" cellspacing="0" cellpadding="0" border="0" style="max-width:800px;margin:0 auto">
        <tbody>
        <tr>
          <td align="center" style="background-color:#ffffff;padding-left:24px;padding-right:24px;padding-top:16px;padding-bottom:16px">

            <div style="font-family:Helvetica,Arial,sans-serif;margin-top:0px;margin-bottom:0px;font-size:16px;line-height:24px;max-width:584px;color:#424651;text-align:center">
              <% if I18n.locale.to_s == 'ka' %>
                <p style="margin-top:0px;margin-bottom:0px"><a> პაროლის აღდგენის მოთხოვნა ვალიდურია 24 საათის განმავლობაში <br>
                  იმ შემთხვევაში თუ თქვენ არ ახორციელებთ ამ ქმედებას, უსაფრთხოების მიზნით, გთხოვთ დაგვიკავშირდეთ!   </a></p>
              <% else %>
                <p style="margin-top:0px;margin-bottom:0px"><a> The password reset request is valid for 24 hours <br>
                  If you do not intend to perform this action, for security reasons, please contact us!   </a></p>
              <% end %>
            </div>

          </td>
        </tr>
        </tbody>
      </table>

    </td>
  </tr>
  </tbody>
</table>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
  <tbody>
  <tr>
    <td align="center" style="background-color:#dbe5ea;padding-left:8px;padding-right:8px">

      <table width="100%" cellspacing="0" cellpadding="0" border="0" style="max-width:800px;margin:0 auto">
        <tbody>
        <tr>
          <td align="center" style="background-color:#ffffff;padding-left:24px;padding-right:24px;padding-top:8px;padding-bottom:8px">
            <table align="center" cellspacing="0" cellpadding="0" border="0">
              <tbody>
              <tr>
                <td width="300" align="center" style="font-family:Helvetica,Arial,sans-serif;font-weight:bold;margin-top:0px;margin-bottom:0px;font-size:16px;line-height:24px;background-color:#126de5;border-radius:4px">
                  <a href=<%= @url %> style="text-decoration:none;outline:none;color:#ffffff;display:block;padding:12px 24px>" target="_blank"><%= I18n.locale.to_s == 'ka' ? 'ჩემი პაროლის ცვლილება' : 'Change my password' %></a>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>

    </td>
  </tr>
  </tbody>
</table>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
  <tbody>
  <tr>
    <td align="center" style="background-color:#dbe5ea;padding-left:8px;padding-right:8px">

      <table width="100%" cellspacing="0" cellpadding="0" border="0" style="max-width:800px;margin:0 auto">
        <tbody>
        <tr>
          <td style="font-size:48px;line-height:48px;height:48px;background-color:#ffffff">&nbsp;
          </td>
        </tr>
        </tbody>
      </table>

    </td>
  </tr>
  </tbody>
</table>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
  <tbody>
  <tr>
    <td align="center" style="background-color:#dbe5ea;padding-left:8px;padding-right:8px;padding-bottom:32px">

      <table width="100%" cellspacing="0" cellpadding="0" border="0" style="max-width:800px;margin:0 auto">
        <tbody>
        <tr>
          <td align="center" style="font-size:0;vertical-align:top;background-color:#ffffff;border-top:1px solid #d3dce0;border-radius:0px 0px 4px 4px;padding-left:16px;padding-right:16px;padding-bottom:32px">

            <div style="display:inline-block;vertical-align:top;width:100%;max-width:400px">
              <div style="font-size:32px;line-height:32px;height:32px">&nbsp;</div>
              <div style="font-family:Helvetica,Arial,sans-serif;margin-top:0px;margin-bottom:0px;font-size:14px;line-height:21px;color:#82899a;text-align:left;padding-left:8px;padding-right:8px">
                <p style="margin-top:0px;margin-bottom:0px">
                  <a href="https://example.com/" style="text-decoration:underline;outline:none;color:#82899a" target="_blank">Help Center</a>
                  <span>&nbsp; • &nbsp;</span><br style="display:none;font-size:0;max-height:0;width:0;line-height:0;overflow:hidden">
                  <a href="https://example.com/" style="text-decoration:underline;outline:none;color:#82899a" target="_blank">Preferences</a>
                  <span>&nbsp; • &nbsp;</span><br style="display:none;font-size:0;max-height:0;width:0;line-height:0;overflow:hidden">
                  <a href="https://example.com/" style="text-decoration:underline;outline:none;color:#82899a" target="_blank">Unsubscribe</a>
                </p>
              </div>
            </div>

            <div style="display:inline-block;vertical-align:top;width:100%;max-width:200px">
              <div style="font-size:32px;line-height:32px;height:32px">&nbsp;</div>
              <div style="font-family:Helvetica,Arial,sans-serif;margin-top:0px;margin-bottom:0px;font-size:14px;line-height:21px;color:#82899a;text-align:right;padding-left:8px;padding-right:8px">
              </div>
            </div>

          </td>
        </tr>
        </tbody>
      </table>

      <div style="font-size:64px;line-height:64px;height:64px">&nbsp;</div>
    </td>
  </tr>
  </tbody>
</table>
</body></html>